<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pagination</title>
</head>
<body>
<form th:action="@{''}">
  <div>
    <label>
      Title
      <input type="text">
    </label>
  </div>
  <div>
    <label>
      USERNAME
      <input type="text">
    </label>
  </div>
  <div>
    <label>
      PASSWORD
      <input type="text">
    </label>
  </div>
  <div>
    <textarea name="content" id="" cols="30" rows="10"></textarea>
  </div>
</form>
</body>
</html>
